@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
body {
  font-family: "Epilogue", sans-serif;
  font-size: clamp(14px, 1rem + 0.25vw, 18px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.toggle {
  display: none;
}

header {
  padding: 2em;
  display: flex;
  align-items: center;
  gap: min(2.5rem, 10vw);
}
header button::after {
  content: url(../assets/icon-arrow-down.svg);
  position: relative;
  left: 10%;
}
header button[aria-expanded=true]::after {
  content: url(../assets/icon-arrow-up.svg);
}
header .sub-nav-1,
header .sub-nav-2 {
  z-index: 9999;
  display: none;
}
header .sub-nav-1 a,
header .sub-nav-2 a {
  width: 100%;
  margin-left: 10%;
}
header .sub-nav-1 a:before,
header .sub-nav-2 a:before {
  width: 16px;
  height: 16px;
}

.sponsors {
  margin-top: 2em;
  display: flex;
  align-items: center;
  gap: 2.5em;
  width: 100%;
}
.sponsors img {
  width: 100px;
}

.todo:before {
  content: url(../assets/icon-todo.svg);
}

.cal:before {
  content: url(../assets/icon-calendar.svg);
}

.reminder:before {
  content: url(../assets/icon-reminders.svg);
}

.plan:before {
  content: url(../assets/icon-planning.svg);
}

@media (min-width: 35em) {
  header {
    gap: min(4rem, 20vw);
  }

  .menu {
    display: flex;
    align-items: center;
    gap: min(2.5rem, 10vw);
    font-size: smaller;
    flex-shrink: 0;
  }
  .menu a {
    color: hsl(0deg, 0%, 41%);
  }
  .menu .login {
    margin-left: 50vw;
  }

  button {
    border: 0;
    background: none;
    font-family: "Epilogue", sans-serif;
    font-size: inherit;
    padding: 0;
    color: hsl(0deg, 0%, 41%);
    transition: color 200ms ease-in;
  }

  .sub-nav-1[data-visible=true],
.sub-nav-2[data-visible=true] {
    background-color: hsl(0deg, 0%, 98%);
    position: absolute;
    top: 90px;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: min(1em, 8vh);
  }
  .sub-nav-1[data-visible=true] a,
.sub-nav-2[data-visible=true] a {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .sub-nav-1[data-visible=true] a:before,
.sub-nav-2[data-visible=true] a:before {
    position: relative;
    bottom: 2px;
  }

  .sub-nav-1[data-visible=true] {
    left: 120px;
  }

  .sub-nav-2[data-visible=true] {
    left: 300px;
  }

  a {
    transition: color 200ms ease-in;
  }

  button:hover,
a:hover {
    color: hsl(0deg, 0%, 8%);
  }

  .register {
    border: 1px solid hsl(0deg, 0%, 8%);
    padding: 0.8em min(1rem, 5vw);
    border-radius: 1em;
  }

  .register:hover {
    border: 1px solid black;
  }

  main {
    display: flex;
    flex-flow: column;
    gap: 4rem;
    justify-content: flex-end;
    min-height: 70vh;
    margin-inline: 10rem;
    background: url(../assets/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  main h1 {
    width: 43%;
    font-size: 5rem;
    line-height: 120%;
  }
  main p {
    width: 35%;
    color: hsl(0deg, 0%, 41%);
    line-height: 1.5rem;
  }
  main a {
    width: fit-content;
    background-color: hsl(0deg, 0%, 8%);
    padding: 1em 1.5em;
    border-radius: 1em;
    color: hsl(0deg, 0%, 98%);
    transition: 200ms ease-in;
  }
  main a:hover {
    border: 1px solid hsl(0deg, 0%, 8%);
    background: hsl(0deg, 0%, 98%);
  }
}
@media (max-width: 35em) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 1em;
  }

  body[aria-hidden=true] {
    background-color: hsla(0deg, 0%, 0%, 0.4);
  }

  .toggle {
    display: block;
    aspect-ratio: 1;
    width: 2rem;
    background: url(../assets/icon-menu.svg);
    background-repeat: no-repeat;
    z-index: 9999;
    border: 0;
  }

  .toggle::after {
    content: none;
  }

  .toggle[aria-expanded=true] {
    background: url(../assets/icon-close-menu.svg);
    background-repeat: no-repeat;
  }

  .toggle[aria-expanded=true]::after {
    content: none;
  }

  .menu {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: min(20vh, 6rem) 2em;
    gap: min(1.5em, 10vh);
    position: fixed;
    inset: 0 0 0 35%;
    transform: translateX(100%);
    transition: transform 400ms ease-in;
    z-index: 1000;
    background: white;
  }

  .menu[data-visible=true] {
    transform: translateX(0%);
  }

  .menu {
    font-size: calc(0.9rem + 0.5vw);
  }
  .menu a,
.menu button {
    display: flex;
    gap: 5%;
    color: hsl(0deg, 0%, 41%);
  }
  .menu button {
    border: 0;
    background: none;
    align-self: flex-start;
    font-family: "Epilogue", sans-serif;
    font-size: calc(0.9rem + 0.5vw);
    padding: 0;
  }
  .menu button:after {
    left: 0;
    bottom: 5%;
  }
  .menu .login,
.menu .register {
    align-self: center;
    font-size: calc(0.9rem + 0.25vw);
  }
  .menu .login {
    margin-top: 10%;
  }
  .menu .register {
    border: 1px solid hsl(0deg, 0%, 8%);
    padding: 0.8em min(4.5rem, 20vw);
    border-radius: 1em;
  }

  .sub-nav-1,
.sub-nav-2 {
    display: none;
  }

  .sub-nav-1[data-visible=true],
.sub-nav-2[data-visible=true] {
    display: flex;
    flex-flow: column;
    gap: min(1.5em, 10vh);
  }

  main {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5em;
    padding: 0 1em;
    text-align: center;
    background: url("../assets/image-hero-mobile.png") no-repeat;
    background-size: contain;
  }
  main p {
    color: hsl(0deg, 0%, 41%);
    line-height: 1.5rem;
  }
  main a {
    width: fit-content;
    background-color: hsl(0deg, 0%, 8%);
    padding: 1em 1.5em;
    border-radius: 1em;
    color: hsl(0deg, 0%, 98%);
  }

  .sponsors {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    width: 100%;
  }
  .sponsors img {
    width: 50px;
  }
}
